.sprite-english-title_01 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -0px;
 }
 .sprite-english-title_02 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -268px;
 }
 .sprite-english-title_03 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -536px;
 }
 .sprite-english-title_04 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -804px;
 }
 .sprite-english-title_05 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -1072px;
 }
 .sprite-english-title_06 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -1340px;
 }
 .sprite-english-title_07 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -1608px;
 }
 .sprite-english-title_08 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -1876px;
 }
 .sprite-english-title_09 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -2144px;
 }
 .sprite-english-title_10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -2412px;
 }
 .sprite-english-title_11 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -2680px;
 }
 .sprite-english-title_12 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -2948px;
 }
 .sprite-english-title_13 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -3216px;
 }
 .sprite-english-title_14 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -3484px;
 }
 .sprite-english-title_15 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -3752px;
 }
 .sprite-english-title_16 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -4020px;
 }
 .sprite-english-title_17 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -4288px;
 }
 .sprite-english-title_18 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -4556px;
 }
 .sprite-english-title_19 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -4824px;
 }
 .sprite-english-title_20 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -5092px;
 }
 .sprite-english-title_21 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -5360px;
 }
 .sprite-english-title_22 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -5628px;
 }
 .sprite-english-title_23 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -5896px;
 }
 .sprite-english-title_24 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -6164px;
 }
 .sprite-english-title_25 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -6432px;
 }
 .sprite-english-title_26 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -6700px;
 }
 .sprite-english-title_27 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -6968px;
 }
 .sprite-english-title_28 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -7236px;
 }
 .sprite-english-title_29 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -7504px;
 }
 .sprite-english-title_30 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -7772px;
 }
 .sprite-english-title_31 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -8040px;
 }
 .sprite-english-title_32 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -8308px;
 }
 .sprite-english-title_33 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -8576px;
 }
 .sprite-english-title_34 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -8844px;
 }
 .sprite-english-title_35 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -9112px;
 }
 .sprite-english-title_36 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -9380px;
 }
 .sprite-english-title_37 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -9648px;
 }
 .sprite-english-title_38 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -9916px;
 }
 .sprite-english-title_39 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -10184px;
 }
 .sprite-english-title_40 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 268px;
     width: 428px;
     background-position: -0px -10452px;
 }
 