* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: plutoblack;
  src: url("fonts/PlutoBlack.otf");
}
@font-face {
  font-family: plutobold;
  src: url("fonts/PlutoBold.otf");
}

@font-face {
  font-family: plutoheavy;
  src: url("fonts/PlutoHeavy.otf");
}

@font-face {
  font-family: plutolight;
  src: url("fonts/PlutoLight.otf");
}

@font-face {
  font-family: plutoregular;
  src: url("fonts/PlutoRegular.otf");
}
