.oreo-left-01 {
    background-position: 0 0%;
    background-size: 100%;
}

.oreo-left-02 {
    background-position: 0 5.263158%;
    background-size: 100%;
}

.oreo-left-03 {
    background-position: 0 10.526316%;
    background-size: 100%;
}

.oreo-left-04 {
    background-position: 0 15.789474%;
    background-size: 100%;
}

.oreo-left-05 {
    background-position: 0 21.052632%;
    background-size: 100%;
}

.oreo-left-06 {
    background-position: 0 26.315789%;
    background-size: 100%;
}

.oreo-left-07 {
    background-position: 0 31.578947%;
    background-size: 100%;
}

.oreo-left-08 {
    background-position: 0 36.842105%;
    background-size: 100%;
}

.oreo-left-09 {
    background-position: 0 42.105263%;
    background-size: 100%;
}

.oreo-left-10 {
    background-position: 0 47.368421%;
    background-size: 100%;
}

.oreo-left-11 {
    background-position: 0 52.631579%;
    background-size: 100%;
}

.oreo-left-12 {
    background-position: 0 57.894737%;
    background-size: 100%;
}

.oreo-left-13 {
    background-position: 0 63.157895%;
    background-size: 100%;
}

.oreo-left-14 {
    background-position: 0 68.421053%;
    background-size: 100%;
}

.oreo-left-15 {
    background-position: 0 73.684211%;
    background-size: 100%;
}

.oreo-left-16 {
    background-position: 0 78.947368%;
    background-size: 100%;
}

.oreo-left-17 {
    background-position: 0 84.210526%;
    background-size: 100%;
}

.oreo-left-18 {
    background-position: 0 89.473684%;
    background-size: 100%;
}

.oreo-left-19 {
    background-position: 0 94.736842%;
    background-size: 100%;
}

.oreo-left-20 {
    background-position: 0 100%;
    background-size: 100%;
}

.oreo-right-01 {
    background-position: 0 0%;
    background-size: 100%;
}

.oreo-right-02 {
    background-position: 0 5.263158%;
    background-size: 100%;
}

.oreo-right-03 {
    background-position: 0 10.526316%;
    background-size: 100%;
}

.oreo-right-04 {
    background-position: 0 15.789474%;
    background-size: 100%;
}

.oreo-right-05 {
    background-position: 0 21.052632%;
    background-size: 100%;
}

.oreo-right-06 {
    background-position: 0 26.315789%;
    background-size: 100%;
}

.oreo-right-07 {
    background-position: 0 31.578947%;
    background-size: 100%;
}

.oreo-right-08 {
    background-position: 0 36.842105%;
    background-size: 100%;
}

.oreo-right-09 {
    background-position: 0 42.105263%;
    background-size: 100%;
}

.oreo-right-10 {
    background-position: 0 47.368421%;
    background-size: 100%;
}

.oreo-right-11 {
    background-position: 0 52.631579%;
    background-size: 100%;
}

.oreo-right-12 {
    background-position: 0 57.894737%;
    background-size: 100%;
}

.oreo-right-13 {
    background-position: 0 63.157895%;
    background-size: 100%;
}

.oreo-right-14 {
    background-position: 0 68.421053%;
    background-size: 100%;
}

.oreo-right-15 {
    background-position: 0 73.684211%;
    background-size: 100%;
}

.oreo-right-16 {
    background-position: 0 78.947368%;
    background-size: 100%;
}

.oreo-right-17 {
    background-position: 0 84.210526%;
    background-size: 100%;
}

.oreo-right-18 {
    background-position: 0 89.473684%;
    background-size: 100%;
}

.oreo-right-19 {
    background-position: 0 94.736842%;
    background-size: 100%;
}

.oreo-right-20 {
    background-position: 0 100%;
    background-size: 100%;
}


.oreo-left-to-right-01 {
    background-position: 0 0%;
    background-size: 100%;
}

.oreo-left-to-right-02 {
    background-position: 0 5.882353%;
    background-size: 100%;
}

.oreo-left-to-right-03 {
    background-position: 0 11.764706%;
    background-size: 100%;
}

.oreo-left-to-right-04 {
    background-position: 0 17.647059%;
    background-size: 100%;
}

.oreo-left-to-right-05 {
    background-position: 0 23.529412%;
    background-size: 100%;
}

.oreo-left-to-right-06 {
    background-position: 0 29.411765%;
    background-size: 100%;
}

.oreo-left-to-right-07 {
    background-position: 0 35.294118%;
    background-size: 100%;
}

.oreo-left-to-right-08 {
    background-position: 0 41.176471%;
    background-size: 100%;
}

.oreo-left-to-right-09 {
    background-position: 0 47.058824%;
    background-size: 100%;
}

.oreo-left-to-right-10 {
    background-position: 0 52.941176%;
    background-size: 100%;
}

.oreo-left-to-right-11 {
    background-position: 0 58.823529%;
    background-size: 100%;
}

.oreo-left-to-right-12 {
    background-position: 0 64.705882%;
    background-size: 100%;
}

.oreo-left-to-right-13 {
    background-position: 0 70.588235%;
    background-size: 100%;
}

.oreo-left-to-right-14 {
    background-position: 0 76.470588%;
    background-size: 100%;
}

.oreo-left-to-right-15 {
    background-position: 0 82.352941%;
    background-size: 100%;
}

.oreo-left-to-right-16 {
    background-position: 0 88.235294%;
    background-size: 100%;
}

.oreo-left-to-right-17 {
    background-position: 0 94.117647%;
    background-size: 100%;
}

.oreo-left-to-right-18 {
    background-position: 0 100%;
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.container2 {
    background-position: center;
    height: 100%;
    width: 56vh;
    max-width: none;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Background Fade Animation */
.bg-fade {
    animation: bgFade 0.5s ease-in-out;
}

@keyframes bgFade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}


.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 36%;
    top: 4%;
}

.lang-switch {
    position: absolute;
    top: 9%;
    right: 17%;
    display: flex;
    gap: 14%;
    z-index: 9999999;
}

.lang-text {
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: white;
    font-family: Plutoregular;
}

#englishtext {
    opacity: 1;

}

#arabtext {
    opacity: 0.7;
}



#englishtext::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
}

#arabtext.active {
    opacity: 1;
}

#arabtext.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
}

#englishtext:not(.active) {
    opacity: 0.5;
}

#englishtext:not(.active)::after {
    background-color: transparent;
}


#firstpage {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    transition: 0.5s;
    transition: transform 0.5s ease-in-out;

    overflow: hidden;
    z-index: 1;
}

#firstpage .firstpagecontainer {
    width: 85%;
    height: 85%;
    /*85%*/
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 90vh;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.titleimg {
    width: 72%;

}

.titleimg img {
    max-width: 600px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.4));
    animation: zoomBounce 1.2s ease-out;
}
@keyframes zoomBounce {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#secondpage {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    transition: 0.5s;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#leftcokie {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 0;
}

#rightcokie {
    position: absolute;
    width: 20%;
    top: 50%;
    right: 0;
}

#secondpage .secondpagecontainer {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#secondpage .secondpagecontainer .instructionblock {
    width: 90%;
    color: white;
    font-family: Plutoregular;
    font-size: 2.5vh;

}

#secondpage .secondpagecontainer .letsgobtn {
    width: 78%;
    margin-bottom: 0;
    cursor: pointer;
    z-index: 9999999;
}


.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.shake-in {
    animation: shake 0.8s ease-in-out forwards;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.instruct1,
#leftcokie,
#rightcokie,
.text1,
.star1,
.text2,
.star2,
.text3,
.letsgobtn {
    opacity: 0;
}

#recipepage1 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    transition: 0.5s;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#recipepage1 .recipepage1container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#recipepage1 .cokiename {
    font-family: Plutoheavy;
    font-size: 2.5vh;
    color: white;
    position: absolute;
    width: 53%;
    top: 14%;
    text-align: center;
}

#recipepage1 .commonline {
    font-family: Plutoregular;
    font-size: 2vh;
    color: white;
    position: absolute;
    width: 80%;
    top: 56%;
    text-align: center;

}

#recipepage1 .recipepage1container .descriptiondiv1 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;


}

#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv1 .scrolldiv3 div {
    margin-bottom: 10px;
    /* Adjust as needed */
}

#recipepage1 .recipepage1container .descriptiondiv2 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;



}

#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}


#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv4 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv3 div,
#recipepage1 .recipepage1container .descriptiondiv2 .scrolldiv4 div {
    margin-bottom: 10px;
}

#recipepage1 .recipepage1container .descriptiondiv3 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;



}

#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}


#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv4 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    scrollbar-color: #888 #333;
    /* Custom scrollbar */

}

#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv5 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    scrollbar-color: #888 #333;
    /* Custom scrollbar */

}

#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv3 div,
#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv4 div,
#recipepage1 .recipepage1container .descriptiondiv3 .scrolldiv5 div {
    margin-bottom: 10px;
}

#recipepage1 .recipepage1container .descriptiondiv4 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;



}

#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}


#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv4 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    scrollbar-color: #888 #333;
    /* Custom scrollbar */

}

#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv3 div,
#recipepage1 .recipepage1container .descriptiondiv4 .scrolldiv4 div {

    margin-bottom: 10px;
}


#recipepage1 .recipepage1container .descriptiondiv5 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;



}

#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}


#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv4 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    scrollbar-color: #888 #333;
    /* Custom scrollbar */

}

#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv3 div,
#recipepage1 .recipepage1container .descriptiondiv5 .scrolldiv4 div {

    margin-bottom: 10px;
}

#recipepage1 .recipepage1container .descriptiondiv6 {
    width: 80%;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    font-family: Plutoregular;



}

#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv1 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv2 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}

#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv3 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;


}


#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv4 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv5 {
    width: 95%;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-size: min(4vw, 2.5vh);
    padding: 10px;
    scrollbar-width: none;
    scrollbar-color: #888 #333;

}

#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv1 div,
#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv2 div,
#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv3 div,
#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv4 div,
#recipepage1 .recipepage1container .descriptiondiv6 .scrolldiv5 div {

    margin-bottom: 10px;
}

#recipepage1 .twistonitbtn {
    width: 30%;
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    margin: auto;


}

#recipepage1 .yougotthis {
    width: 54%;
    position: absolute;
    bottom: 18%;
    left: 0;
    right: 0;
    margin: auto;

}

#recipepage1 .together {
    width: 65%;
    position: absolute;
    bottom: 18%;
    left: 0;
    right: 0;
    margin: auto;

}

#recipepage1 .backbtn {
    position: absolute;
    bottom: 9%;
    left: 15%;
    width: 15%;
}

#recipepage1 .homebtn {
    position: absolute;
    bottom: 9%;
    right: 15%;
    width: 15%;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.recipepage1container>div {
    opacity: 0;
    transform: translateY(20px);

}

.zoom-fade-out {
    animation: zoomFadeOut 0.7s ease-in-out forwards;
}

@keyframes zoomFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.slide-up-fade-in {
    animation: slideUpFadeIn 0.8s ease-out forwards;
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in-staggered {
    animation: staggeredSlideIn 0.6s ease-out forwards;
}

@keyframes staggeredSlideIn {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}



#instructionpage {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    transition: 0.5s;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#instructionpage .instructionpagecontainer {
    width: 90%;
    height: 78%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#instructionpage .instructionpagecontainer .getyour {
    color: white;
    font-size: min(4.5vw, 2.5vh);
    font-family: PlutoBold;
}

#instructionpage .instructionpagecontainer .ingredientsimg {
    width: 80%;
}

#instructionpage .instructionpagecontainer .allsetbtn {
    width: 30%;
}

#instructionpage .backbtn {
    position: absolute;
    bottom: 9%;
    left: 15%;
    width: 15%;
}

#instructionpage .homebtn {
    position: absolute;
    bottom: 9%;
    right: 15%;
    width: 15%;
}

.show-instruction {
    animation: scaleFadeSlide 0.8s ease-in-out forwards;
}

@keyframes scaleFadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}




#selectionpage {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-evenly;
    transition: 0.5s;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

#selectionpage .selectionpagecontainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

#selectionpage .backbtn {
    position: absolute;
    bottom: 5%;
    left: 6%;
    width: 15%;
}

#selectionpage .homebtn {
    position: absolute;
    bottom: 5%;
    right: 6%;
    width: 15%;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv {
    width: 90%;
    height: 90vh;
    /* Ensure height for scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv .withscrolldiv {
    width: 90%;
    max-height: 76vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: #888 #f1f1f1;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv .withscrolldiv::-webkit-scrollbar {
    width: 8px;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv .withscrolldiv::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv .withscrolldiv::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#selectionpage .selectionpagecontainer .withoutscrolldiv .withscrolldiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#selectionpage .selectionpagecontainer .letsgoselectionbtn {
    width: 55%;

}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.withscrolldiv img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.withscrolldiv img.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.selected-effect {
    transform: scale(1.2);
    box-shadow: 0px 0px 25px rgba(0, 255, 255, 1),
        0px 0px 40px rgba(0, 200, 255, 0.8),
        0px 0px 60px rgba(255, 255, 255, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


@media screen and (max-width: 600px) {
    .container2 {
        width: 100%;
    }

    .lang-text {
        font-size: 4.5vw;
    }

    #secondpage .secondpagecontainer .instructionblock {
        font-size: 4.5vw;
    }

    #recipepage1 .cokiename {
        font-size: 5.5vw;

    }

    #recipepage1 .commonline {
        font-size: 4.5vw;
    }
}