@import "./global.scss";

.tc_trigger,
.privacy_trigger {
  cursor: pointer;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 1002;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

#terms_sec {
  position: absolute;
  width: 90%;
  max-width: 800px;
  height: 90%;
  border: 1px solid #ccc;
  z-index: 1000;
  background-color: #ffffff;
  overflow-x: hidden;
  top: calc(5%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  display: none;

  &.active {
    display: block;
  }

  .content {
    position: absolute;
    width: calc(100% - 20px);
    padding: 30px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-wrap: anywhere;
    padding-bottom: 50px;

    * {
      font-family: "plutolight";
    }
  }

  &.ar {
    .content {
      * {
        font-family: "GE_SS";
      }
    }
  }
}

.bgEle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}
.image {
  @include moveanim(moveUp);
  position: absolute;
  bottom: -100px;
  width: min(20vw, 10vh);
  animation: moveUp 5s linear infinite;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .background-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05236b;
    z-index: -1;
    .bg {
      width: 56vh;
      height: 100%;
      background: url("images/common/BG.png") no-repeat center;
      background-size: cover;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - min(4vw - 4vh));
    padding: min(2vw, 2vh);
    margin: auto;
    .left {
      #language {
        position: relative;
        width: min(45vw, 22.5vh);
        img {
          width: 100%;
        }
        img.ar {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    .right {
      .audio {
        position: relative;
        width: min(18vw, 9vh);
        img {
          width: 100%;
          height: auto;
        }
        img.audio-off {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .button-section {
    position: fixed;
    left: 0;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
      position: relative;
      width: min(60vw, 40vh);
      height: 100%;
      img.letsgo {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      img.nextbtn {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      img.submit-active {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      img.submit-inactive {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      img.backbtn {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      img.proceedbtn {
        position: absolute;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
  .title-scr {
    position: fixed;
    left: 0;
    top: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // display: none;
    &.active {
      display: block;
    }
    &.up {
      top: 2%;
      transform: scale(0.8);
    }
    .title {
      position: relative;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      width: min(80vw, 40vh);
      height: calc(min(80vw, 37vh) / 1.5);
      background-size: 100%;
      display: flex;
      margin: auto;

      &.en {
        background-image: url("images/en/title-english.png");
        background-position: 0 0;
        background-size: 100%;
      }
      &.ar {
        background-image: url("images/ar/title-arabic.png");
        background-position: 0 0;
        background-size: 100%;
      }
      .title-bg {
        position: absolute;
        top: 0;
        width: 50%;
        z-index: -1;
        transform: translate(0, -50%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .screen_one {
    position: fixed;
    left: 0;
    top: 30%;
    width: 100%;
    height: 40%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
      display: flex;
    }
    .select-country {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: min(50vw, 35vh);
      #dropdownarrow {
        position: absolute;
        background: url("images/common/Drop-down-arrow-head.png") no-repeat
          center;
        background-size: 100%;
        width: min(0.5vw,0.5vh);
        // height: 50%;
        right: 8%;
        padding: min(1vw, 1vh);
      }
      select {
        // position: relative;
        outline: 0px;
        -webkit-appearance: none;
        font-family: plutoheavy;
        color: #05236b;
        font-size: min(4vw, 2.5vh);
        width: 95%;
        padding: min(1vw, 1vh);
        border-radius: 10px;
        text-align: center;
      }
    }
  }
  .screen_two {
    position: fixed;
    left: 0;
    top: 40%;
    width: 100%;
    height: 40%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    &.active {
      display: flex;
    }
    .coin {
      position: relative;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      width: min(80vw, 30vh);
      height: calc(min(80vw, 30vh) / 1);
      background-size: 100%;
      display: flex;
      margin: auto;
      &.en {
        background-image: url("images/en/gold-coin-en.png");
        background-size: 100%;
      }
      &.ar {
        background-image: url("images/ar/gold-coin-ar.png");
        background-size: 100%;
      }
    }
  }
  .screen_three {
    position: fixed;
    left: 0;
    top: 30%;
    width: 100%;
    height: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &.active {
      display: flex;
    }
    .reveal_text {
      text-align: center;
      font-family: plutoRegular;
      font-size: min(6vw, 3vh);
      color: #fff;
      display: none;
      &.active {
        display: block;
      }
      span {
        font-family: plutobold;
        text-transform: uppercase;
      }
    }
    .cookie-twist {
      position: relative;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      width: min(85vw, 32.5vh);
      height: calc(min(89vw, 33vh) / 1.1);
      background-size: 100%;
      display: flex;
      // margin: auto;
      &.en {
        background-image: url("images/common/cookie-twist.png");
        background-position: 0 calc(2.04081% * 0);
        background-size: 100%;
      }
      .register {
        position: absolute;
        top: 0;
        left: 0;
        width: min(28vw, 13vh);
        transform: translate(10%, 35%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .discover {
        position: absolute;
        bottom: 0;
        right: 0;
        width: min(27vw, 12vh);
        transform: translate(-23%, -45%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .screen_four {
    position: fixed;
    left: 0;
    top: 22%;
    width: 100%;
    height: 60%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(2.5vw, 1.5vh);

    &.active {
      display: flex;
    }

    .register_content {
      .label {
        width: 100%;
        color: white;
        font-family: "plutoRegular";
        direction: lft;
        font-size: min(3.5vw, 2vh);
        line-height: min(4vw, 2.5vh);
        padding-left: min(3vw, 1.5vh);
      }
      .field {
        position: relative;
        border-radius: 10px;
        border: 1px solid #ffffff;
        width: min(80vw, 40vh);
        margin: auto;
        margin-bottom: min(2vw, 1vh);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .code {
          position: absolute;
          top: 0;
          color: black;
          font-family: "plutobold";
          text-align: center;
          font-size: min(3.5vw, 2vh);
          line-height: min(8vw, 4.5vh);
          left: min(3vw, 1.5vh);
        }
        input {
          position: relative;
          width: 100%;
          outline: none;
          border: none;
          color: black;
          font-family: "plutobold";
          direction: lft;
          font-size: min(3.5vw, 2vh);
          line-height: min(8vw, 4.5vh);
          padding: 0 min(3vw, 1.5vh);
        }
        &.error {
          border-color: #ff0000;
        }

        #mobile {
          padding: 0 min(15vw, 7.5vh);
        }
      }
    }
    .bottom {
      .age_check,
      .tc_check,
      .promotion_check {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: min(80vw, 40vh);
        margin: auto;
        margin-bottom: min(2vw, 1vh);
        gap: min(2vw, 1vh);
        .label {
          width: min(80vw, 40vh);
          height: auto;
          color: #ffffff;
          font-family: plutolight;
          direction: lft;
          font-size: min(2.5vw, 1.5vh);
        }

        .checkbox {
          position: relative;
          width: min(8vw, 4vh);
          height: min(8vw, 4vh);
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
          .checked {
            position: absolute;
            top: 0;
            left: 0;
          }
          #age_checked {
            display: none;
            &.active {
              display: block;
            }
          }
          #tc_checked {
            display: none;
            &.active {
              display: block;
            }
          }
          #promotion_checked {
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
  .screen_five {
    position: fixed;
    left: 0;
    top: 25%;
    width: 100%;
    height: 60%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
      display: flex;
    }
    .upload-recipe {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: min(68vw, 34vh);
      height: min(80vh, 40vh);
      img {
        width: 100%;
      }
      .upload {
        position: absolute;
        width: min(50vw, 25vh);
        height: min(60vw, 30vh);
        transform: translateY(-33.5%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }

      .torn-bottom {
        position: absolute;
        width: min(50vw, 25vh);
        height: min(60vw, 30vh);
        transform: translateY(-33.5%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .torn-top {
        position: absolute;
        width: min(50vw, 25vh);
        height: min(60vw, 30vh);
        transform: translateY(-33.5%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .image-upload {
        position: absolute;
        width: min(50vw, 25vh);
        height: min(60vw, 30vh);
        transform: translateY(-33.5%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .image-uploaded {
        position: absolute;
        width: min(50vw, 25vh);
        height: min(60vw, 30vh);
        transform: translateY(-25%);
        display: none;
        &.active {
          display: block;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .screen_six {
    position: fixed;
    left: 0;
    top: 40%;
    width: 100%;
    height: 40%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    &.active {
      display: flex;
    }
    .congrats {
      position: relative;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      width: min(90vw, 35vh);
      height: calc(min(90vw, 35vh) / 1);
      background-size: 100%;
      display: flex;
      margin: auto;
      &.en {
        background-image: url("images/en/congrats.png");
        background-size: 100%;
      }
      &.ar {
        background-image: url("images/en/congrats.png");
        background-size: 100%;
      }
    }
  }
}
//error
.errorInfo {
  background-color: #ff0000;
  font-family: "plutoregular";
  font-size: min(3.5vw, 2vh);
  padding: min(1.5vw, 1vh) 0;
  border-radius: min(3.5vw, 3vh);
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  width: min(70vw, 35vh);
  color: #ffffff;
  position: fixed;
  bottom: 25%;
  z-index: 10;
  opacity: 0;

  &.active {
    @include fadeanim(fadeInOut);
    animation: fadeInOut 1s ease-in-out forwards;
  }

  &.ar {
    font-family: "GE_SS";
  }
}

//title-english-animation
$positionratio: 2.5641%;
.title-en-01 {
  background-position: 0 calc($positionratio * 0) !important;
}
.title-en-02 {
  background-position: 0 calc($positionratio * 1) !important;
}

.title-en-03 {
  background-position: 0 calc($positionratio * 2) !important;
}
.title-en-04 {
  background-position: 0 calc($positionratio * 3) !important;
}

.title-en-05 {
  background-position: 0 calc($positionratio * 4) !important;
}

.title-en-06 {
  background-position: 0 calc($positionratio * 5) !important;
}

.title-en-07 {
  background-position: 0 calc($positionratio * 6) !important;
}

.title-en-08 {
  background-position: 0 calc($positionratio * 7) !important;
}

.title-en-09 {
  background-position: 0 calc($positionratio * 8) !important;
}

.title-en-10 {
  background-position: 0 calc($positionratio * 9) !important;
}

.title-en-11 {
  background-position: 0 calc($positionratio * 10) !important;
}
.title-en-12 {
  background-position: 0 calc($positionratio * 11) !important;
}

.title-en-13 {
  background-position: 0 calc($positionratio * 12) !important;
}
.title-en-14 {
  background-position: 0 calc($positionratio * 13) !important;
}

.title-en-15 {
  background-position: 0 calc($positionratio * 14) !important;
}

.title-en-16 {
  background-position: 0 calc($positionratio * 15) !important;
}

.title-en-17 {
  background-position: 0 calc($positionratio * 16) !important;
}

.title-en-18 {
  background-position: 0 calc($positionratio * 17) !important;
}

.title-en-19 {
  background-position: 0 calc($positionratio * 18) !important;
}

.title-en-20 {
  background-position: 0 calc($positionratio * 19) !important;
}

.title-en-21 {
  background-position: 0 calc($positionratio * 20) !important;
}
.title-en-22 {
  background-position: 0 calc($positionratio * 21) !important;
}

.title-en-23 {
  background-position: 0 calc($positionratio * 22) !important;
}
.title-en-24 {
  background-position: 0 calc($positionratio * 23) !important;
}

.title-en-25 {
  background-position: 0 calc($positionratio * 24) !important;
}

.title-en-26 {
  background-position: 0 calc($positionratio * 25) !important;
}

.title-en-27 {
  background-position: 0 calc($positionratio * 26) !important;
}

.title-en-28 {
  background-position: 0 calc($positionratio * 27) !important;
}

.title-en-29 {
  background-position: 0 calc($positionratio * 28) !important;
}

.title-en-30 {
  background-position: 0 calc($positionratio * 29) !important;
}

.title-en-31 {
  background-position: 0 calc($positionratio * 30) !important;
}
.title-en-32 {
  background-position: 0 calc($positionratio * 31) !important;
}

.title-en-33 {
  background-position: 0 calc($positionratio * 32) !important;
}
.title-en-34 {
  background-position: 0 calc($positionratio * 33) !important;
}

.title-en-35 {
  background-position: 0 calc($positionratio * 34) !important;
}

.title-en-36 {
  background-position: 0 calc($positionratio * 35) !important;
}

.title-en-37 {
  background-position: 0 calc($positionratio * 36) !important;
}

.title-en-38 {
  background-position: 0 calc($positionratio * 37) !important;
}

.title-en-39 {
  background-position: 0 calc($positionratio * 38) !important;
}

.title-en-40 {
  background-position: 0 calc($positionratio * 39) !important;
}

//title-arabic-animation
$positionratio-ar: 2.5641%;
.title-ar-01 {
  background-position: 0 calc($positionratio-ar * 0) !important;
}
.title-ar-02 {
  background-position: 0 calc($positionratio-ar * 1) !important;
}

.title-ar-03 {
  background-position: 0 calc($positionratio-ar * 2) !important;
}
.title-ar-04 {
  background-position: 0 calc($positionratio-ar * 3) !important;
}

.title-ar-05 {
  background-position: 0 calc($positionratio-ar * 4) !important;
}

.title-ar-06 {
  background-position: 0 calc($positionratio-ar * 5) !important;
}

.title-ar-07 {
  background-position: 0 calc($positionratio-ar * 6) !important;
}

.title-ar-08 {
  background-position: 0 calc($positionratio-ar * 7) !important;
}

.title-ar-09 {
  background-position: 0 calc($positionratio-ar * 8) !important;
}

.title-ar-10 {
  background-position: 0 calc($positionratio-ar * 9) !important;
}

.title-ar-11 {
  background-position: 0 calc($positionratio-ar * 10) !important;
}
.title-ar-12 {
  background-position: 0 calc($positionratio-ar * 11) !important;
}

.title-ar-13 {
  background-position: 0 calc($positionratio-ar * 12) !important;
}
.title-ar-14 {
  background-position: 0 calc($positionratio-ar * 13) !important;
}

.title-ar-15 {
  background-position: 0 calc($positionratio-ar * 14) !important;
}

.title-ar-16 {
  background-position: 0 calc($positionratio-ar * 15) !important;
}

.title-ar-17 {
  background-position: 0 calc($positionratio-ar * 16) !important;
}

.title-ar-18 {
  background-position: 0 calc($positionratio-ar * 17) !important;
}

.title-ar-19 {
  background-position: 0 calc($positionratio-ar * 18) !important;
}

.title-ar-20 {
  background-position: 0 calc($positionratio-ar * 19) !important;
}

.title-ar-21 {
  background-position: 0 calc($positionratio-ar * 20) !important;
}
.title-ar-22 {
  background-position: 0 calc($positionratio-ar * 21) !important;
}

.title-ar-23 {
  background-position: 0 calc($positionratio-ar * 22) !important;
}
.title-ar-24 {
  background-position: 0 calc($positionratio-ar * 23) !important;
}

.title-ar-25 {
  background-position: 0 calc($positionratio-ar * 24) !important;
}

.title-ar-26 {
  background-position: 0 calc($positionratio-ar * 25) !important;
}

.title-ar-27 {
  background-position: 0 calc($positionratio-ar * 26) !important;
}

.title-ar-28 {
  background-position: 0 calc($positionratio-ar * 27) !important;
}

.title-ar-29 {
  background-position: 0 calc($positionratio-ar * 28) !important;
}

.title-ar-30 {
  background-position: 0 calc($positionratio-ar * 29) !important;
}

.title-ar-31 {
  background-position: 0 calc($positionratio-ar * 30) !important;
}
.title-ar-32 {
  background-position: 0 calc($positionratio-ar * 31) !important;
}

.title-ar-33 {
  background-position: 0 calc($positionratio-ar * 32) !important;
}
.title-ar-34 {
  background-position: 0 calc($positionratio-ar * 33) !important;
}

.title-ar-35 {
  background-position: 0 calc($positionratio-ar * 34) !important;
}

.title-ar-36 {
  background-position: 0 calc($positionratio-ar * 35) !important;
}

.title-ar-37 {
  background-position: 0 calc($positionratio-ar * 36) !important;
}

.title-ar-38 {
  background-position: 0 calc($positionratio-ar * 37) !important;
}

.title-ar-39 {
  background-position: 0 calc($positionratio-ar * 38) !important;
}

//coin-en
$positionratio-coin-en: 5.261%;
.coin-en-01 {
  background-position: 0 calc($positionratio-coin-en * 0) !important;
}
.coin-en-02 {
  background-position: 0 calc($positionratio-coin-en * 1) !important;
}

.coin-en-03 {
  background-position: 0 calc($positionratio-coin-en * 2) !important;
}
.coin-en-04 {
  background-position: 0 calc($positionratio-coin-en * 3) !important;
}

.coin-en-05 {
  background-position: 0 calc($positionratio-coin-en * 4) !important;
}

.coin-en-06 {
  background-position: 0 calc($positionratio-coin-en * 5) !important;
}

.coin-en-07 {
  background-position: 0 calc($positionratio-coin-en * 6) !important;
}

.coin-en-08 {
  background-position: 0 calc($positionratio-coin-en * 7) !important;
}

.coin-en-09 {
  background-position: 0 calc($positionratio-coin-en * 8) !important;
}

.coin-en-10 {
  background-position: 0 calc($positionratio-coin-en * 9) !important;
}

.coin-en-11 {
  background-position: 0 calc($positionratio-coin-en * 10) !important;
}
.coin-en-12 {
  background-position: 0 calc($positionratio-coin-en * 11) !important;
}

.coin-en-13 {
  background-position: 0 calc($positionratio-coin-en * 12) !important;
}
.coin-en-14 {
  background-position: 0 calc($positionratio-coin-en * 13) !important;
}

.coin-en-15 {
  background-position: 0 calc($positionratio-coin-en * 14) !important;
}

.coin-en-16 {
  background-position: 0 calc($positionratio-coin-en * 15) !important;
}

.coin-en-17 {
  background-position: 0 calc($positionratio-coin-en * 16) !important;
}

.coin-en-18 {
  background-position: 0 calc($positionratio-coin-en * 17) !important;
}

.coin-en-19 {
  background-position: 0 calc($positionratio-coin-en * 18) !important;
}

.coin-en-20 {
  background-position: 0 calc($positionratio-coin-en * 19) !important;
}

//coin-ar
$positionratio-coin-ar: 5.261%;
.coin-ar-01 {
  background-position: 0 calc($positionratio-coin-ar * 0) !important;
}
.coin-ar-02 {
  background-position: 0 calc($positionratio-coin-ar * 1) !important;
}

.coin-ar-03 {
  background-position: 0 calc($positionratio-coin-ar * 2) !important;
}
.coin-ar-04 {
  background-position: 0 calc($positionratio-coin-ar * 3) !important;
}

.coin-ar-05 {
  background-position: 0 calc($positionratio-coin-ar * 4) !important;
}

.coin-ar-06 {
  background-position: 0 calc($positionratio-coin-ar * 5) !important;
}

.coin-ar-07 {
  background-position: 0 calc($positionratio-coin-ar * 6) !important;
}

.coin-ar-08 {
  background-position: 0 calc($positionratio-coin-ar * 7) !important;
}

.coin-ar-09 {
  background-position: 0 calc($positionratio-coin-ar * 8) !important;
}

.coin-ar-10 {
  background-position: 0 calc($positionratio-coin-ar * 9) !important;
}

.coin-ar-11 {
  background-position: 0 calc($positionratio-coin-ar * 10) !important;
}
.coin-ar-12 {
  background-position: 0 calc($positionratio-coin-ar * 11) !important;
}

.coin-ar-13 {
  background-position: 0 calc($positionratio-coin-ar * 12) !important;
}
.coin-ar-14 {
  background-position: 0 calc($positionratio-coin-ar * 13) !important;
}

.coin-ar-15 {
  background-position: 0 calc($positionratio-coin-ar * 14) !important;
}

.coin-ar-16 {
  background-position: 0 calc($positionratio-coin-ar * 15) !important;
}

.coin-ar-17 {
  background-position: 0 calc($positionratio-coin-ar * 16) !important;
}

.coin-ar-18 {
  background-position: 0 calc($positionratio-coin-ar * 17) !important;
}

.coin-ar-19 {
  background-position: 0 calc($positionratio-coin-ar * 18) !important;
}

.coin-ar-20 {
  background-position: 0 calc($positionratio-coin-ar * 19) !important;
}

//cookie twist en
$positionratio-cookie-twist: 2.04081%;
.cookie-twist-01 {
  background-position: 0 calc($positionratio-cookie-twist * 0) !important;
}
.cookie-twist-02 {
  background-position: 0 calc($positionratio-cookie-twist * 1) !important;
}

.cookie-twist-03 {
  background-position: 0 calc($positionratio-cookie-twist * 2) !important;
}
.cookie-twist-04 {
  background-position: 0 calc($positionratio-cookie-twist * 3) !important;
}

.cookie-twist-05 {
  background-position: 0 calc($positionratio-cookie-twist * 4) !important;
}

.cookie-twist-06 {
  background-position: 0 calc($positionratio-cookie-twist * 5) !important;
}

.cookie-twist-07 {
  background-position: 0 calc($positionratio-cookie-twist * 6) !important;
}

.cookie-twist-08 {
  background-position: 0 calc($positionratio-cookie-twist * 7) !important;
}

.cookie-twist-09 {
  background-position: 0 calc($positionratio-cookie-twist * 8) !important;
}

.cookie-twist-10 {
  background-position: 0 calc($positionratio-cookie-twist * 9) !important;
}

.cookie-twist-11 {
  background-position: 0 calc($positionratio-cookie-twist * 10) !important;
}
.cookie-twist-12 {
  background-position: 0 calc($positionratio-cookie-twist * 11) !important;
}

.cookie-twist-13 {
  background-position: 0 calc($positionratio-cookie-twist * 12) !important;
}
.cookie-twist-14 {
  background-position: 0 calc($positionratio-cookie-twist * 13) !important;
}

.cookie-twist-15 {
  background-position: 0 calc($positionratio-cookie-twist * 14) !important;
}

.cookie-twist-16 {
  background-position: 0 calc($positionratio-cookie-twist * 15) !important;
}

.cookie-twist-17 {
  background-position: 0 calc($positionratio-cookie-twist * 16) !important;
}

.cookie-twist-18 {
  background-position: 0 calc($positionratio-cookie-twist * 17) !important;
}

.cookie-twist-19 {
  background-position: 0 calc($positionratio-cookie-twist * 18) !important;
}

.cookie-twist-20 {
  background-position: 0 calc($positionratio-cookie-twist * 19) !important;
}
.cookie-twist-21 {
  background-position: 0 calc($positionratio-cookie-twist * 20) !important;
}
.cookie-twist-22 {
  background-position: 0 calc($positionratio-cookie-twist * 21) !important;
}

.cookie-twist-23 {
  background-position: 0 calc($positionratio-cookie-twist * 22) !important;
}
.cookie-twist-24 {
  background-position: 0 calc($positionratio-cookie-twist * 23) !important;
}

.cookie-twist-25 {
  background-position: 0 calc($positionratio-cookie-twist * 24) !important;
}

.cookie-twist-26 {
  background-position: 0 calc($positionratio-cookie-twist * 25) !important;
}

.cookie-twist-27 {
  background-position: 0 calc($positionratio-cookie-twist * 26) !important;
}

.cookie-twist-28 {
  background-position: 0 calc($positionratio-cookie-twist * 27) !important;
}

.cookie-twist-29 {
  background-position: 0 calc($positionratio-cookie-twist * 28) !important;
}

.cookie-twist-30 {
  background-position: 0 calc($positionratio-cookie-twist * 29) !important;
}

.cookie-twist-31 {
  background-position: 0 calc($positionratio-cookie-twist * 30) !important;
}
.cookie-twist-32 {
  background-position: 0 calc($positionratio-cookie-twist * 31) !important;
}

.cookie-twist-33 {
  background-position: 0 calc($positionratio-cookie-twist * 32) !important;
}
.cookie-twist-34 {
  background-position: 0 calc($positionratio-cookie-twist * 33) !important;
}

.cookie-twist-35 {
  background-position: 0 calc($positionratio-cookie-twist * 34) !important;
}

.cookie-twist-36 {
  background-position: 0 calc($positionratio-cookie-twist * 35) !important;
}

.cookie-twist-37 {
  background-position: 0 calc($positionratio-cookie-twist * 36) !important;
}

.cookie-twist-38 {
  background-position: 0 calc($positionratio-cookie-twist * 37) !important;
}

.cookie-twist-39 {
  background-position: 0 calc($positionratio-cookie-twist * 38) !important;
}

.cookie-twist-40 {
  background-position: 0 calc($positionratio-cookie-twist * 39) !important;
}
.cookie-twist-41 {
  background-position: 0 calc($positionratio-cookie-twist * 40) !important;
}
.cookie-twist-42 {
  background-position: 0 calc($positionratio-cookie-twist * 41) !important;
}

.cookie-twist-43 {
  background-position: 0 calc($positionratio-cookie-twist * 42) !important;
}
.cookie-twist-44 {
  background-position: 0 calc($positionratio-cookie-twist * 43) !important;
}

.cookie-twist-45 {
  background-position: 0 calc($positionratio-cookie-twist * 44) !important;
}

.cookie-twist-46 {
  background-position: 0 calc($positionratio-cookie-twist * 45) !important;
}

.cookie-twist-47 {
  background-position: 0 calc($positionratio-cookie-twist * 46) !important;
}

.cookie-twist-48 {
  background-position: 0 calc($positionratio-cookie-twist * 47) !important;
}

.cookie-twist-49 {
  background-position: 0 calc($positionratio-cookie-twist * 48) !important;
}

.cookie-twist-50 {
  background-position: 0 calc($positionratio-cookie-twist * 49) !important;
}

//congrats-en
$positionratio-congrats-en: 5.259%;
.congrats-en-01 {
  background-position: 0 calc($positionratio-congrats-en * 0) !important;
}
.congrats-en-02 {
  background-position: 0 calc($positionratio-congrats-en * 1) !important;
}

.congrats-en-03 {
  background-position: 0 calc($positionratio-congrats-en * 2) !important;
}
.congrats-en-04 {
  background-position: 0 calc($positionratio-congrats-en * 3) !important;
}

.congrats-en-05 {
  background-position: 0 calc($positionratio-congrats-en * 4) !important;
}

.congrats-en-06 {
  background-position: 0 calc($positionratio-congrats-en * 5) !important;
}

.congrats-en-07 {
  background-position: 0 calc($positionratio-congrats-en * 6) !important;
}

.congrats-en-08 {
  background-position: 0 calc($positionratio-congrats-en * 7) !important;
}

.congrats-en-09 {
  background-position: 0 calc($positionratio-congrats-en * 8) !important;
}

.congrats-en-10 {
  background-position: 0 calc($positionratio-congrats-en * 9) !important;
}

.congrats-en-11 {
  background-position: 0 calc($positionratio-congrats-en * 10) !important;
}
.congrats-en-12 {
  background-position: 0 calc($positionratio-congrats-en * 11) !important;
}

.congrats-en-13 {
  background-position: 0 calc($positionratio-congrats-en * 12) !important;
}
.congrats-en-14 {
  background-position: 0 calc($positionratio-congrats-en * 13) !important;
}

.congrats-en-15 {
  background-position: 0 calc($positionratio-congrats-en * 14) !important;
}

.congrats-en-16 {
  background-position: 0 calc($positionratio-congrats-en * 15) !important;
}

.congrats-en-17 {
  background-position: 0 calc($positionratio-congrats-en * 16) !important;
}

.congrats-en-18 {
  background-position: 0 calc($positionratio-congrats-en * 17) !important;
}

.congrats-en-19 {
  background-position: 0 calc($positionratio-congrats-en * 18) !important;
}

.congrats-en-20 {
  background-position: 0 calc($positionratio-congrats-en * 19) !important;
}

//congrats-ar
$positionratio-congrats-ar: 5.259%;
.congrats-ar-01 {
  background-position: 0 calc($positionratio-congrats-ar * 0) !important;
}
.congrats-ar-02 {
  background-position: 0 calc($positionratio-congrats-ar * 1) !important;
}

.congrats-ar-03 {
  background-position: 0 calc($positionratio-congrats-ar * 2) !important;
}
.congrats-ar-04 {
  background-position: 0 calc($positionratio-congrats-ar * 3) !important;
}

.congrats-ar-05 {
  background-position: 0 calc($positionratio-congrats-ar * 4) !important;
}

.congrats-ar-06 {
  background-position: 0 calc($positionratio-congrats-ar * 5) !important;
}

.congrats-ar-07 {
  background-position: 0 calc($positionratio-congrats-ar * 6) !important;
}

.congrats-ar-08 {
  background-position: 0 calc($positionratio-congrats-ar * 7) !important;
}

.congrats-ar-09 {
  background-position: 0 calc($positionratio-congrats-ar * 8) !important;
}

.congrats-ar-10 {
  background-position: 0 calc($positionratio-congrats-ar * 9) !important;
}

.congrats-ar-11 {
  background-position: 0 calc($positionratio-congrats-ar * 10) !important;
}
.congrats-ar-12 {
  background-position: 0 calc($positionratio-congrats-ar * 11) !important;
}

.congrats-ar-13 {
  background-position: 0 calc($positionratio-congrats-ar * 12) !important;
}
.congrats-ar-14 {
  background-position: 0 calc($positionratio-congrats-ar * 13) !important;
}

.congrats-ar-15 {
  background-position: 0 calc($positionratio-congrats-ar * 14) !important;
}

.congrats-ar-16 {
  background-position: 0 calc($positionratio-congrats-ar * 15) !important;
}

.congrats-ar-17 {
  background-position: 0 calc($positionratio-congrats-ar * 16) !important;
}

.congrats-ar-18 {
  background-position: 0 calc($positionratio-congrats-ar * 17) !important;
}

.congrats-ar-19 {
  background-position: 0 calc($positionratio-congrats-ar * 18) !important;
}

.congrats-ar-20 {
  background-position: 0 calc($positionratio-congrats-ar * 19) !important;
}
